{
  "presets": [
    ["env", {
      "loose": true,
      "modules": false,
      "useBuiltIns": false,
      "exclude": ["transform-regenerator", "transform-async-to-generator"],
      "targets": {
        "node": "5.12.0"
      }
    }]
  ],
  "plugins": [
    [ "fast-async", {} ],
    [ "transform-class-properties", { "spec": true } ],
    [ "transform-object-rest-spread", { "useBuiltIns": true } ]
  ],
  "comments": false
}
