{
  "presets": [
    ["env", {
      "loose": true,
      "modules": false,
      "useBuiltIns": true,
      "exclude": ["transform-regenerator"],
      "targets": {
        "node": "5.12.0"
      }
    }]
  ],
  "plugins": [
    ["fast-async", {
      "useRuntimeModule": true
    }]
  ],
  "comments": false
}
