{
  "root": true,
  "extends": [
    "airbnb-base",
    "plugin:@fdio/typescript"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    // require trailing commas in multiline object literals
    "comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline",
      }
    ],
    "@typescript-eslint/no-unsafe-return": 0,
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "consistent-return": 0,
        "no-undef": 0,
        "no-console": 0,
        "no-restricted-syntax": [
          "error",
          {
            "selector": "LabeledStatement",
            "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
          },
          {
            "selector": "WithStatement",
            "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
          }
        ],
        "global-require": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-dynamic-require": 0,
        "@typescript-eslint/no-var-requires": 0,
      }
    }
  ]
}
