.DS_Store
.idea
.git
.gitignore
.lintcache
.babelrc
.npmignore
.editorconfig
.eslintrc*
.build
.config
.env
.gitlab-ci.*
t.*
[a-z0-9].*
*.log
*.tgz
node_modules
npm-debug.log
yarn.lock
package-lock.json
test
coverage
karma.conf.js
webpack.config.js
rollup.config.js
src
